#bgstyle
{
  background-color:bisque ; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}
#footsty{
    font-family: cursive;
      color:rgb(15 20 170);
      background-color: rgb(246 244 218);
      padding: 20px;
      
  }

#fontstyle{
    font-family: cursive;
    color:rgb(76, 0, 255);          
}
#qoute{
    font-style:italic;
    color: rgb(129, 40, 5); 
    font-size:20mm;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
a {
    font-size: 39px ;
    color: rgb(237, 253, 7);
    font-family: fantasy;
  }
header {
    background-color: rgb(56, 65, 54);
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: white;
  }

table{
    border: darkblue;
    border-width:5px;
    border-style: dashed;
    box-sizing:border-box;
    background-color: rgb(252, 250, 228);
    padding: 10px;
}
thead{
    background-color: brown;
    color: rgb(253, 255, 151);
    font-size: 30px;
    font-family: cursive;
    
}

tbody{
    color: black;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}
td{
    text-align: center;
    border: solid;
}
b{
    color: rgb(25, 6, 136);
    font-family: cursive;
    font-size: 25px;
}

.container{

    width: 97%;
    border: rgb(5 30 100);
    border-style: dotted;
    margin: 3px auto;
    padding: 30px;
    background-color: lightblue;
    background-image: url("https://4.imimg.com/data4/TW/OW/MY-30165244/cold-coffee.jpg");
    background-size: 100%;
}
.sec{
    margin: 3px auto;
    padding: 20px;
    border: solid;
    border-color: darkblue;
    background-color: rgb(248 238 232);
}

.myDiv {
  border: 8px outset rgb(87, 8, 2);
  border-radius: 12px;
  background-color: rgb(214, 247, 245);    
  text-align: center;
  padding: 20px 30px 20px 30px;
  }

  #image{
        
        width:80%;
        height:60%;
        padding-left: 20%;
        opacity: 1.0;
  }
  #image:hover{
      opacity:0.5;
  }

  #ingredients{
      clear: both;
    float: left;
      text-align: center;
      width: 39.5%;
      margin-left: 5px auto;
      padding: 20px;
      
  }
 #preparation{
    float: right;
     width: 60%;
     padding: 27px;
     margin: 3px auto;
     background-image: url("https://4.imimg.com/data4/TW/OW/MY-30165244/cold-coffee.jpg");
       background-size:100%;
       background-blend-mode:overlay;
 }

 #addon{
     clear: both;
     width: 100%;
     padding: 2px;
     text-align: center;
     
 }

 .b{
     padding:5px;
     font-weight: bold;
     cursor: pointer;
     align-content: flex-end;
     font-size: 18px;
 }

 .b:hover{
     color: blue;
 }

 .b:active{
     background-color:yellow ;
 }
 .b:visited{
     background-color: violet;
 }

 summary:hover{
     color:rgb(218, 25, 25);
 }

 #h{
     color: rgb(25, 129, 248);
     padding: 75px;
      font-family: 'Monoton', cursive;
 }
  #h:hover{
        color: rgb(175, 84, 9);
        cursor: pointer;
  }